<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>intro</key>
		<string>&apos;&apos;죽음은 바람과 같지. 늘 내 곁에 있으니.&apos;&apos;~ 야스오</string>
		<key>name</key>
		<string>야스오</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>intro</key>
		<string>“화끈한 폭발물이야말로 여자들의 좋은 친구지!”~ 징크스</string>
		<key>name</key>
		<string>징크스</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>intro</key>
		<string>&apos;&apos;감사해라. 내가 널 파괴하면 너는 영원한 고통에서 벗어날 수 있다.&apos;&apos;</string>
		<key>name</key>
		<string>루시안</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>intro</key>
		<string>21231231</string>
		<key>name</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>intro</key>
		<string>ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ</string>
		<key>name</key>
		<string>ㅇㅇㅇㅇㅇㅇㅇㅇ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>intro</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㄹㅇㅁㄴㄹㅇ</string>
		<key>name</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>intro</key>
		<string>ㅁㄴㅇㄹㅁㄴㄹㄴㅁㄹㅁㄴㅇㄹㅁㄴㄹㅇ</string>
		<key>name</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>intro</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁ</string>
		<key>name</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>intro</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹ</string>
		<key>name</key>
		<string>ㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>218041566099.png</string>
		<key>intro</key>
		<string>ㅊㅊㅊㅊㅊㅊㅊㅊ</string>
		<key>name</key>
		<string>ㅃㅃㅃㅃㅃㅃㅃㅃㅃㅃㅃㅂ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>216813987373.png</string>
		<key>intro</key>
		<string>ㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎㅎ</string>
		<key>name</key>
		<string>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>215627419666.png</string>
		<key>intro</key>
		<string>ㅗㅎㅇㅎㄷㄱㅎㄷㄱㅎㄷㄱㅎㄷㄱㅎ</string>
		<key>name</key>
		<string>ㅜㅡㅓㅡㅗㅓ,ㅡㅓㅏ,ㅗㅓㅏ,</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>212665677660.png</string>
		<key>intro</key>
		<string>ㅎㄷㄱㅎㄷㄱㅎㄷㄱㅎㄷㄱㅎ</string>
		<key>name</key>
		<string>ㄴㅌㅇㅇㄱㅎㅁㅇㅇㄴㄹㅁㄴㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>210247356941.png</string>
		<key>intro</key>
		<string>ㅅ굑쇽쇿</string>
		<key>name</key>
		<string>아아아아아아, 언제 다 쳐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>209057893970.png</string>
		<key>intro</key>
		<string>아무말이나 했다.</string>
		<key>name</key>
		<string>이름도 몰라요, 성도 몰라.</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207847215830.png</string>
		<key>intro</key>
		<string>쇼ㅓ서쇼ㅓ쇼ㅓ쇼ㅓ서쇼</string>
		<key>name</key>
		<string>ㅊ퓨ㅜㅊ퓨ㅜㅊ풏풏ㅊ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207225320108.png</string>
		<key>intro</key>
		<string>ㅈㄷㄱㅈㄱㅈㄷㄱㅈㄱㅈㄷㄱㅈㄷㄱ</string>
		<key>name</key>
		<string>ㅌㅌㅌㅌㅌㅌㅌㅌㅌ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>205773517075.png</string>
		<key>intro</key>
		<string>ㄲㄲㄲㄲㄲㄱ</string>
		<key>name</key>
		<string>ㅃㅃㅃㅃㅃㅃ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>201804651313.png</string>
		<key>intro</key>
		<string>ㅜㅜㅜㅜㅜㅜㅜㅜㅜ</string>
		<key>name</key>
		<string>ㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠㅠ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>197908560081.png</string>
		<key>intro</key>
		<string>ㅆㅆㅆㅆㅆㅆㅆㅆㅆㅆㅅ</string>
		<key>name</key>
		<string>ㅁㅁㄴㅁㄹㅁㄹㅁㄴㄹ</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>198079477246.png</string>
		<key>intro</key>
		<string>ㅇㄴㅎㅅㅇ</string>
		<key>name</key>
		<string>ㅇㄴㅇㄴ</string>
	</dict>
</array>
</plist>
